<center style="font-size:30px" > Lesson 2 - Data Types</center><br>

# Data Types

**Primitive data types** are those that exist on their own - like atoms. They are the simplest types and are the foundation for all computer operations. You can combine them to construct more complex types, as you will see in the next chapter. You'll use **numeric** types and **strings** most often.

## Numeric types
These are:
**Integers**, which are whole numbers, like the numbers you use to count (1, 2, 3).

**Decimals**, like those you may use to store money values (2.50 or 5.99).

Integers are declared like any other variable, with the name then the value: 
```
count = 10
```
As you can see, your variable's value is 10, which is, of course, an integer: therefore, your variable **count** is an **integer** type. ðŸ˜‰  

For decimals, Python uses **float type**. You can define it in the same way as integers:
```
length = 1876.79
width = 1876.79797657
```
As long as the value is a decimal number, Python will automatically store it as a float variable.

### Mixing numeric types
An important thing to keep in mind is how the types mix together and what consequences it may have. If you mix together different types, the higher will always apply to the result. For example, an integer can be a float, but the opposite is not necessarily true. A float is the higher type: if you mix a float with an integer, the result will always be a float no matter the operation or the result.

## VARIABLES
In Python, a variable is created when you first assign a value to it. 
Rules for Python variables:
* A variable can have a short name (e.g. x) or a more descriptive name (e.g. age, price).
* A variable name must start with a letter or the underscore character.
* A variable name cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* Variable names are case-sensitive (age, Age and AGE are three different variables).
Variables do not need to be declared with any particular type and can even change type after they have been set.

## String Variables

The Python print statement is often used to output variables.
To combine both text and a variable, Python uses the + character.
Note you are also using a variable to store a string.

In [ ]:
days_of_week = "monday"

In [1]:

greeting = "welcome"
print("Hello and " + greeting)

Hello and welcome

### Single or Double Qoutes

You can use either single or double quotes around a string. Which you use is dependent on what is in the string e.g. if there is a single quote in the string then use double quotes and visa versa.

In [7]:
message = "Morgan's Apple"

In [8]:
print(message)

Morgan's Apple

### Functions on Strings

**len(foo)** gives the number of letters in the string.

In [9]:
print(len('Morgan'))

6

You can print individual characters in your string, by indexing the letter i.e. the index is the position of the 
letter in the string. **Note** indices begin at 0 not 1. You use square brackets [ ] to identify the letter.

In [12]:
#example
alphabet = "abcdefghijklmnopqrstuvwxyz"

print(alphabet[25])

z

In [13]:
# Print a range
print(alphabet[0:25])

abcdefghijklmnopqrstuvwxy

### Methods and Functions
These names are often used interchangeably and are very similar in what they do. However, functions are stand alone whereas a method belongs to an object. This will be explained better in the object oriented lesson. For now they will be used interchangeably. There are a number of methods available for strings.

In [15]:
message = 'Hello World'
print(message)
print(message.lower()) # note brackets on the method
print(message.upper())

Hello World
hello world
HELLO WORLD

In [14]:
#replace
message = 'Hello World'
print(message.replace('World','Universe'))
print(message)

Hello Universe
Hello World

## SAQ - 1
Print your name using the albhabet string, and the + to concatenate strings. Bonus: Capitalise your name

In [20]:
#Add your answer here
alphabet = "abcdefghijklmnopqrstuvwxyz"

## SAQ - 2

In [21]:
#Part (a)
"""Create two paramaters x= First Name and  y = Age and print the statment x is y years old
    Note to change an integer to a string use the str() function."""

'Create two paramaters x= First Name and  y = Age and print the statment x is y years old\n    Note to change an integer to a string use the str() function.'

### Print Message Formatting

In [18]:
greeting = 'Hello'
name = 'Morgan'
print(greeting+', '+ name)
message = '{},{}. Welcome!'.format(greeting,name)

print(message)

Hello, Morgan
Hello,Morgan. Welcome!

### f strings
New to Python are f strings they replace the format method above.

In [34]:
message = f'{greeting},{name}. Welcome!'

print(message)

Hello,Morgan. Welcome!

## Variable Operators

## OPERATORS

Operators are used to perform operations on variables and values. Operators can be grouped as follows:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [28]:
print(3.2%2.3)

0.9000000000000004

### Arithmetic Operators

The Python assignment operators are:

<table style="border:1px solid black" align ="left" >
    <tr>
        <th>
            operator
        </th>
        <th>
            Name
        </th>
        <th>
            Example
        </th>
        <th>
            Description
        </th>
   </tr>
   <tr>
            <td>
                +
            </td>
            <td>
                Addition
            </td>
            <td>
                x+y
            </td>
            <td>
                Adds the values on either side of the operator
            </td>
        </tr>
        <tr>
            <td>
                -
            </td>
            <td>
                Subtraction
            </td>
            <td>
                x-y
            </td>
            <td>
                Subtracts the value on the right from the one on the left
            </td>
        </tr>
        <tr>
            <td>
                *
            </td>
            <td>
                Multiplication
            </td>
            <td>
                x\y
            </td>
            <td>
                Multiplies the values on either side of the operator
            </td>
        </tr>
        <tr>
            <td>
                /
            </td>
            <td>
                Division
            </td>
            <td>
                x/y
            </td>
            <td>
                Divides the value on the left by the one on the right Division results in a floating-point value
            </td>
        </tr>
        <tr>
            <td>
                %
            </td>
            <td>
                Modulus
            </td>
            <td>
                x%y
            </td>
            <td>
                Divides and returns the value of the remainder
            </td>
        </tr>
        <tr>
        <td>
            **
        </td>
        <td>
            Exponentiation
        </td>
        <td>
            x**y
        </td>
        <td>
            Raises the first number to the power of the second
        </td>
    </tr>
    <tr>
        <td>
        //
        </td>
        <td>
        Floor division
        </td>
        <td>
        x//y
        </td>
        <td>
        Divides and returns the integer value of the quotient. It dumps the digits after the decimal
        </td>
    </tr>
</table>

In [29]:
# Modulus Operator
print( 3%2 )
print( 4%2 )
print( 5%2 )
print( 35%2 )
print( 52%2 )

1
0
1
1
0

### Assignment Operators

The Python arithmetic operators are:

<table style="border:1px solid black" align ="left">
    <tr>
        <th>
            operator
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
   </tr>
        <tr>
            <td>
                =
            </td>
            <td>
                Assign
            </td>
            <td>
               Assigns a value to the expression on the left
            </td>
        </tr>
        <tr>
            <td>
               +=
            </td>
            <td>
                Add and Assign
            </td>
            <td>
                Adds the values on either side and assigns it to the 
                expression on the left. a+=10 is the same as a=a+10.
            </td>
        </tr>
        <tr>
            <td>
               -=
            </td>
            <td>
                Subtract and Assign
            </td>
            <td>
                Subtracts the value on the right from the value on the left
                Then it assigns it to the expression on the left
            </td>
        </tr>
        <tr>
            <td>
               *=
            </td>
            <td>
                Multiply and Assign
            </td>
            <td>Multiplies the values on either sides. Then it assigns it to 
                the expression on the left.
            </td>
        </tr>
        <tr>
            <td>
               /=
            </td>
            <td>
                Divide and Assign
            </td>
            <td>
                Divides the value on the left by the one on the right Division results in a floating-point value
            </td>
        </tr>
     <tr>
        <td>
            %=
        </td>
        <td>
            Modulus and Assign
        </td>
        <td>
           Performs modulus on the values on either side. Then it 
           assigns it to the expression on the left
        </td>
    </tr>
<tr>
    <td>
        //=
    </td>
    <td>
        Floor-Divide and Assign 
    </td>
    <td>
        Performs floor-division on the values on either side. Then 
        assigns it to the expression on the left
    </td>
</tr>
<tr>
    <td>
        **=
    </td>
    <td>
        Exponent and Assign
    </td>
    <td>
        Performs exponentiation on the values on either side. Then 
        assigns it to the expression on the left.
    </td>
</tr>
<tr>
    <td>
        abs (function)
    </td>
    <td>
        Absolute Value
    </td>
    <td>
        Changes negative to positive abs(-3) = 3
    </td>
</tr> 
<tr>
    <td>
        rnd (function)
    </td>
    <td>
        Rounds the number
    </td>
    <td>
       rounds up a number e.g. round(3.886) =4
    </td>
</tr>    
</table>
<br CLEAR=left>

In [31]:
a=1
a += 10
print(a)
a+=10
print(a)

11
21

In [26]:
# incrementing a variable
n = 1
n= n + 1
print(n)

2

In [27]:
# Short Cuts
n = 1
print(n)
n += 1
print(n)
n += 5
print(n)

1
2
7

In [33]:
# Short Cuts for anny arithetmic function
n = 1
print(n)
n *= 5
print(n)
n *= 46
print(n)

1
5
230

In [29]:
# round function
x= round(3.885)
print(x)
x= round(3.885,1)
print(x)

4
3.9

## SAQ 3

A fish weighs 7.3kg + half his own weight. What is the fishes full weight? (give your answer to 1 decimal place)

In [61]:
# let x be the actual weight of the fish.
# x = 7.34kg + x/2
#7.34 = x-x/2
#7.34 = x/2
x= 2*7.34
x = round(x,1)
print(x, end ='kg')

14.7kg

### Comparison Operators
Comparison operators are used to see if variables are equal, less than or greater than each other. The results of comparisons always return a Boolean value i.e. True or False or O or 1.

The Python comparison operators are:

<table style="border:1px solid black" align ="left">
    <thead>
            <th>Operator</th>
            <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>==</td>
            <td>equal to</td>
        </tr>
        <tr>
            <td>!= </td>
            <td>not equal</td>
        </tr>
        <tr>
            <td> > </td>
            <td>greater than</td>
        </tr>
        <tr>
            <td> < </td>
            <td>less than</td>
        </tr>
        <tr>
            <td>>=</td>
            <td>greater than or equal to</td>
        </tr>
        <tr>
            <td><= </td>
            <td>less than or equal to</td>
        </tr>
    </tbody>
</table>
<br CLEAR=left>

In [42]:
# Example of a comparison operator
num_1 = 3
num_2 = 2

In [44]:
print(num_1 > num_2)

True

### Logical Operators

The Python logical operators are:

<table style="border:1px solid black" align ="left">
    <thead>
            <th>Operator</th>
            <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>and</td>
            <td>Returns True if both statements are True</td>
        </tr>
        <tr>
            <td>or</td>
            <td>Returns True if one of the statements is True</td>
        </tr>
        <tr>
            <td> not </td>
            <td>Reverse the result, returns False if the result is True</td>
        </tr>
    </tbody>
</table>
<br CLEAR=left>

Examples of logical expressions in Python:

In [50]:
x=3
y=3
z=6
print(x==z or y==z)

False

## SAQ 4

Test if any number x is even. Print True if it is even and False if odd.

In [55]:
# Code your answer here:
x = 65
y = x%2 

#Is x even
print(y == 0)

False

# Getting Help
Whenever you need help with a function use the help function with the name of the functiion inside e.g. 
```python
help(print)

```

In [56]:
#print(dir(greeting))


help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [57]:
x = range(6)

for n in x:
  print(n, sep ='-', end = '*')

0*1*2*3*4*5*

In [59]:
print('G','F','G', sep=' ') 

#for formatting a date 
print('09','12','2016', sep='-') 

#another example 
print('pratik','geeksforgeeks', sep='@')

G F G
09-12-2016
pratik@geeksforgeeks

<center style="font-size:30px" >End of Lesson 2</center><br>