Lesson 4 ~ Notes: version 3.0

# Collections
<img src="images/collections.png" alt="colllections" width="600"/>
<br>

In this section we will be looking at collections of elements(things). Elements are stored in arrays as either **lists**, **tuples**, **sets**, or **dictionaries**.<br>

**Lists and Tuples** allow us to work with sequential data, and **sets** are unordered collections of values with no duplicates. 

A **dictionary** is a list of elements organized in key value pairs.  Just like in a word dictionary, you look for a specific term. In programming, it is called a **key**. The definition is its **value**. This is called a **KEY <> VALUE** pair.

```python
myDict = {"Jenny": 34, "Livia": 28, "Paul": 31}
print(myDict["Jenny"]) # -> 34

```
In Python, a **tuple** is similar to **List** except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned. On the other hand, we can change the elements of a list. A **tuple** is defined using round brackets.

```python
    my_data = ("hi", "hello", "bye")
    print(my_data)
```

## Lists
<img src="images/collections.png" alt="colllections" width="300"/>

A **list** is defined using square brackets and each element in a list is enclosed in quotes and separated with a comma (Except the last item)

```Python

borrowedBooks = ['The Road', 'The Grapes of Wrath', 'The Shark', 'War of the worlds']

```

In [1]:
courses = ['History','Math', 'Physics', 'Irish','French', 'Geography',"Python"]
print(courses)

['History', 'Math', 'Physics', 'Irish', 'French', 'Geography', 'Python']

In [2]:
print(len(courses))

7

In [4]:
print(courses[6])

Python

In [6]:
print(courses[-2]) # dont need to know lenght

Geography

### Slicing

In [10]:
print(courses[2:]) # 5 not included (stop)

['Physics', 'Irish', 'French', 'Geography', 'Python']

In [12]:
# print(courses[:2]) # assumes start from 0

# print(courses[2:]) # assumes stop at last item

science_subjects = courses[2:]
print(science_subjects)
print(courses)

['Physics', 'Irish', 'French', 'Geography', 'Python']
['History', 'Math', 'Physics', 'Irish', 'French', 'Geography', 'Python']

## Methods

In [14]:
# Add item to our list
courses = ['History','Math', 'Physics', 'Irish','French', 'Geography']
print(courses)
courses.append('Art') # appends to end
print(courses)
print(courses[6])

['History', 'Math', 'Physics', 'Irish', 'French', 'Geography']
['History', 'Math', 'Physics', 'Irish', 'French', 'Geography', 'Art']
Art

In [15]:
# Insert Method
courses.insert(3, 'Social Science')
print(courses)

['History', 'Math', 'Physics', 'Social Science', 'Irish', 'French', 'Geography', 'Art']

In [16]:
# Insert a List into a list
courses = ['History','Math', 'Physics', 'Irish']
courses_2 = ['Geography', 'Spanish']
courses.insert(2, courses_2) # A list within a list
print(courses)

['History', 'Math', ['Geography', 'Spanish'], 'Physics', 'Irish']

In [17]:
print(courses[2])

['Geography', 'Spanish']

### extend method

In [18]:
# used to add the items to the end
courses = ['History','Math', 'Physics', 'Irish']
print(courses)
courses_2 = ['Geography', 'Spanish']
courses.extend(courses_2)
print(courses)

['History', 'Math', 'Physics', 'Irish']
['History', 'Math', 'Physics', 'Irish', 'Geography', 'Spanish']

### remove method
Used to remove items from a list

In [19]:
# remove() function
courses = ['History','Math', 'Physics', 'Irish']
print(courses)
courses.remove('Math')
print(courses)

['History', 'Math', 'Physics', 'Irish']
['History', 'Physics', 'Irish']

In [25]:
#New List
courses = ['History','Math', 'Physics', 'Irish']
print(courses)

['History', 'Math', 'Physics', 'Irish']

In [24]:
#pop()
x = courses.pop() # removes the last value from a list and stores the values
print(x)
print(courses)
# rem = courses.pop()
# print(rem)
# print(courses)

History
[]

### Ordering Lists

In [26]:
courses.sort()
print(courses)

['History', 'Irish', 'Math', 'Physics']

In [28]:
courses = ['History','Math', 'Physics', 'Irish']
nums = [7,5,6,3,4]
courses.sort()
print(courses)
nums.sort()
print(nums)

['History', 'Irish', 'Math', 'Physics']
[3, 4, 5, 6, 7]

In [29]:
# Reversing the order reverse()
print(courses)
courses.reverse()
print(courses)

['History', 'Irish', 'Math', 'Physics']
['Physics', 'Math', 'Irish', 'History']

In [31]:
#reverse sort
nums = [67,2,5,3,4]
nums.sort(reverse = True)
print(nums)

[67, 5, 4, 3, 2]

### Sorting Lists
Sorting list without changing the origonal list. Use a sorted function.

In [ ]:
# sorted() Does not change list
nums = [1,2,5,3,4]
sorted_nums = sorted(nums)
print(nums)
print(sorted_nums)
print(nums)

## SAQ 1 min, max, sum
Test out the three functions min, max and sum

In [33]:
nums = [1,2,5,63,4]
# Answers here
print(sum(nums))
print(min(nums))
print(max(nums))

75
1
63

### index and 'in' method
Find value in list

In [34]:
courses = ['History','Math', 'Physics', 'Irish']
print(courses.index('Irish'))

3

In [35]:
print('Art' in courses)# Asking if Art is in the list of courses

False

In [36]:
print('History' in courses)

True

In [38]:
for course in courses:
    print(course)

History
Math
Physics
Irish

In [39]:
for subject in courses:
    print(subject)

History
Math
Physics
Irish

In [40]:
for index, course in enumerate(courses): # loop item can be anything
    print(index, course)

0 History
1 Math
2 Physics
3 Irish

### Join/Split Methods
Print out a list as a string and visa versa

In [43]:
courses = ['History','Math', 'Physics', 'Irish']
course_str = ' and '.join(courses)

In [44]:
print(course_str)

History and Math and Physics and Irish

In [47]:
#split method
course_str = 'Morgan,Mc,Morgan'
courses = course_str.split(',')
# first_name = courses[0]
# last_name = courses[1]
print(courses)

# print(first_name)
# print(last_name)

['Morgan', 'Mc', 'Morgan']

## Tuples
<img src="images/collections.png" alt="colllections" width="300"/><br>
**Tuples** are similar to lists except they cannot be modified. These are referred to as immutable as opposed to a list which is mutable. If you want to list that cannot be changed for example Constants, **pi**, **e**, **Monday** then you should use a Tuple. You use round brackets to define a tuple. The same methods do not apply to Tuples as they cannot be changed. However we can loop through **Tuples** and access values et cetera.

In [49]:
# Create a tuple
courses = ('History','Math', 'Physics','Irish', 'Irish')
# Add a element
courses.append('Art')

AttributeError: 'tuple' object has no attribute 'append'

## Creating Empty Lists, tuples and sets

```python

empty_list = []
empty_list = list()

empty_tuple =()
empty_tuple = tuple()

empty_set ={} # cannot be defined this way, it thinks it is a dictiionary
empty_set = set() # yes

```

## SAQ 2: Noah's Ark
![zoo animals](images/zoo.jpeg)<br>


Write a program that accepts an input from a user, an animal, and prints a list of all the inputs. <br>Run the program a few times so that you have a list of five animals.

In [58]:
# Add your Answer Here
ark = []
print(ark)

[]

In [59]:
animal = input("Enter your Animal")
ark.append(animal)

print(ark)

Enter your AnimalJag
['Jag']

## Dictionaries
<img src="images/collections.png" alt="colllections" width="300"/><br>
Dictionaries allow us to work with key value pairs and if you're coming
from another programming language then you may have heard these called hash
maps or associative arrays. With key value pairs these are two linked values where
the key is a unique identifier of where we can find our data and the value is the
data.We can think of them as like a real physical dictionary where we look up for definitions. For example  example each word that we look up would be the key and the definition of that word would be the value.

### Dictionary Examples

In [61]:
team_dict = {"team1":"Ireland", "team2":"England"}
print(team_dict['team2'])

England

In [65]:
# Example
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
student1 = {'name':'Mary', 'age': 24, 'subjects': ['Irish','English','Math']}
print(student1)

{'name': 'Mary', 'age': 24, 'subjects': ['Irish', 'English', 'Math']}

In [68]:
# Index ids your key
print(student1['name'])
print(student1['subjects'])

Mary
['Irish', 'English', 'Math']

In [ ]:
print(student1['name'])
print(student1['subjects'])

In [70]:
# Keys can be any value
student = {1:'John', 'age': 24, 'subjects': ['Irish','English']}
print(student[1])

John

In [71]:
# Search for non-existent key
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
print(student['name'])
print(student['phone'])

John

KeyError: 'phone'

### Get Method
The get method is another way to access a dictionary value.

In [77]:
# get method does not produce an error
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English'], 'phone':123456}
print(student.get('age'))
#print(student.get('phone'))
print(student.get('phone','Not to there')) # Your own message

24
123456

### Add/update values to/in an dictionary

In [80]:
# add a value to dictionary
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
print(student)

student['phone'] ='01-456789'#add a value to dictionary
print(student)
# Update a value
student['phone'] ='01-9999999'#update a value in a dictionary
print(student)

{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English']}
{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English'], 'phone': '01-456789'}
{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English'], 'phone': '01-9999999'}

### Dictionary Update Method
Ideal if you want to change multiple things at once. You can add and update.

In [81]:
# Update and Change values
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}

student.update({'name': 'Mary', 'phone': '333333333', 'grade': 44})
print(student)

{'name': 'Mary', 'age': 24, 'subjects': ['Irish', 'English'], 'phone': '333333333', 'grade': 44}

In [84]:
dict ={'name':'John'}
print(dict)
new_name = input('What is your name')
dict.update({'name1': new_name})
print(dict)

{'name': 'John'}
What is your nameMorgan
{'name': 'John', 'name1': 'Morgan'}

### Del and Pop methods
Del deletes a key/value; Pop remove but also returns and that value

In [85]:
# Delete
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}

age = student.pop('age')
print(student)
print(age)

{'name': 'John', 'subjects': ['Irish', 'English']}
24

### Looping Through a Dictionary

In [87]:
student = {'name': 'Mary', 'phone': '333333333', 'grade': 44}
# print(student)
print(len(student)) # Number of elements in the dictionary

3

In [88]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'phone', 'grade'])
dict_values(['Mary', '333333333', 44])
dict_items([('name', 'Mary'), ('phone', '333333333'), ('grade', 44)])

<div><img src="images/preview.png" alt="preview" align="left" width="80"/><br>
<blockquote> <b>For Loop:</b>
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
</blockquote></div>
<div>
<img src="images/syntax.png" alt="preview" align="left" width="50"/><br>    
</div>

```python
for iterating_var in sequence:
   statements(s)
```

In [93]:
fruits = ['banana', 'apple',  'mango']
for fruit in fruits:
    print ('Eating:', fruit)

print("\nBasket is empty!\n")

Eating: banana
Eating: apple
Eating: mango

Basket is empty!

In [ ]:
# It loops trough each element in students and assigns the element to a tempory variable.
for v in student:
    print(v)

<div><img src="images/preview.png" alt="preview" align="left" width="100"/><br>
<blockquote> <b>Range function:</b>
Python range() The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.   
</blockquote></div>
<div>
<img src="images/syntax.png" alt="preview" align="left" width="50"/><br>    
</div>

```python
range(start, stop, step)
```

In [97]:
# Example of Range function
#x = range(10)
for rat in range(20):
  print(rat)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [98]:
# Iterate through key value pairs.
for key,value in student.items():
    print(key,value)

name Mary
phone 333333333
grade 44

## SAQ 3 : Animal Dictionary
<img src="images/animals.jpg" alt="turtle" width="200" align ="right"/>
<br>

Create a dictionary of animal names their ages and animal type. eg **Rover, 4, dog -- Melisa, Cat, 5**. Allow a user through an Input Statement to add new animals.  Print out the result each time. You can use a **for loop** and **range** function to specify how many times you ask for input.

In [ ]:
animalDict = []
animalDetails = {'Name':'','Age':'','Details':''}
h = input('How many pet do you have? ')
for i in range(int(h)):
    petName = input("What's your puppy's name? ")
    petAge = input("What's your puppy's age? ")
    petSpecie = input("What's your puppy's specie? ")
    animalDetails.update({'Name': petName})
    animalDetails.update({'Age': petAge})
    animalDetails.update({'Details': petSpecie})
    animalDict.append(animalDetails)
print(animalDict)
current = [0, 1]
someList = []

while True:
  for n in range(0, 2):
    current[n] += 1

  print(current) # [1,2] and [2,3]
  someList.append(current.copy())

  if current == [2, 3]:
    break

print(someList) # [[1,3], [2,3]]

In [ ]:
# Add your Answer here!
pet_details ={}
name= input('What is the name of your pet?')
age= input("What is your pet's name?")
colour = input("What is your pet's colour?")

## Sets
<img src="images/collections.png" alt="colllections" width="300"/><br>
Sets are unordered and have no duplicates. You use curly braces to define a set. Sets are often used to get rid of duplicate values and they are also used to compare values.

In [ ]:
courses_set  = {'History','Math', 'Physics', 'Irish','Math'}
print(courses_set) #not in order can be any order

In [ ]:
# Sets can easily determine what values they share or do not share with another set.
courses_set1  = {'History','Math', 'Physics', 'Irish'}
courses_set2  = {'History','Geography', 'Physics', 'French'}

print(courses_set1.intersection(courses_set2))

In [ ]:
print(courses_set2.difference(courses_set1))

In [ ]:
print(courses_set1.union(courses_set2))

**Phew!** <div>
<img src="images/the_end.png" alt="The End" width="300" align="center"/></div>