Notes: version 1.1

# Collections

In this section we will be looking at collections of elements(things). Elements are stored in arrays as either **lists**, **tuples**, **sets**, or **dictionaries**.<br>

**Lists and Tuples** allow us to work with sequential data, and **sets** are unordered collections of values with no duplicates. 

A **dictionary** is a list of elements organized in key value pairs.  Just like in a word dictionary, you look for a specific term. In programming, it is called a **key**. The definition is its **value**. This is called a **KEY <> VALUE** pair.

```python
myDict = {"Jenny": 34, "Livia": 28, "Paul": 31}
print(myDict["Jenny"]) # -> 34

```
In Python, a **tuple** is similar to **List** except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned. On the other hand, we can change the elements of a list. A **tuple** is defined using round brackets.

```python
    my_data = ("hi", "hello", "bye")
    print(my_data)
```

## Lists
A **list** is defined using square brackets and each element in a list is enclosed in quotes and separated with a comma (Except the last item)

```Python

borrowedBooks = ['The Road', 'The Grapes of Wrath', 'The Shark', 'War of the worlds']

```

In [ ]:
courses = ['History','Math', 'Physics', 'Irish','French', 'Geography']
print(courses)

In [ ]:
print(len(courses))

In [ ]:
print(courses[5])

In [ ]:
print(courses[-6]) # dont need to know lenght

### Slicing

In [ ]:
print(courses[3:5]) # 2 not included (stop)

In [ ]:
print(courses[:2]) # assumes start from 0

print(courses[2:]) # assumes stop at last item

## Methods

In [ ]:
# Add item to our list
courses = ['History','Math', 'Physics', 'Irish','French', 'Geography']
print(courses)
courses.append('Art') # appends to end
print(courses)

In [ ]:
# Inser Method
courses.insert(5, 'Social Science')
print(courses)

In [ ]:
# Insert a List into a list
courses = ['History','Math', 'Physics', 'Irish']
courses_2 = ['Geography', 'Spanish']
courses.insert(2, courses_2) # A list within a list
print(courses)

In [ ]:
print(courses[2][1])

### extend method

In [ ]:
# used to add the items to the end
courses = ['History','Math', 'Physics', 'Irish']
print(courses)
courses_2 = ['Geography', 'Spanish']
courses.extend(courses_2)
print(courses)

### remove method
Used to remove items from a list

In [ ]:
# remove() function
courses = ['History','Math', 'Physics', 'Irish']
print(courses)
courses.remove('Irish')
print(courses)

In [ ]:
#pop()
courses = ['History','Math', 'Physics', 'Irish']
courses.pop() # removes the last value from a list and stores the values
print(courses)
removed = courses.pop()
print(removed)
print(courses)

### Ordering Lists

In [ ]:
# Reversing the order reverse()
courses = ['History','Math', 'Physics', 'Irish']
nums = [1,2,5,3,4]

print(courses)
courses.reverse()
print(courses)

In [ ]:
courses.sort()
print(courses)

In [ ]:
courses.sort()
print(courses)
nums.sort()
print(nums)

In [1]:
#reverse sort
nums = [1,2,5,3,4]
nums.sort(reverse = True)
print(nums)

[5, 4, 3, 2, 1]

### Sorting Lists
Sorting list without changing the origonal list. Use a sorted function.

In [ ]:
# sorted() Does not change list
nums = [1,2,5,3,4]
sorted_nums = sorted(nums)
print(nums)
print(sorted_nums)

## SAQ 1 min, max, sum
Test out the three functions min, max and sum

In [ ]:
nums = [1,2,5,63,4]
maximum = max(nums)
sum = sum(nums)
print(maximum)
print(sum)

### index and in method
Find value in list

In [ ]:
courses = ['History','Math', 'Physics', 'Irish']
print(courses.index('Irish'))

In [ ]:
print('Art' in courses)# Asking if it is in the list

In [ ]:
print('History' in courses)

In [ ]:
for subject in courses: # loop item can be anything
    print(subject)

In [ ]:
for index, course in enumerate(courses): # loop item can be anything
    print(index, course)

### Join/Split Methods
Print out a list as a string and visa versa

In [ ]:
courses = ['History','Math', 'Physics', 'Irish']
course_str = '-'.join(courses)

In [ ]:
print(course_str)

In [ ]:
#split method
course_str = 'Morgan McKnight'
courses = course_str.split(' ')
first_name = courses[0]
last_name = courses[1]
print(courses)

print(first_name)
print(last_name)

## Tuples
**Tuples** are similar to lists except they cannot be modified. These are referred to as immutable as opposed to a list which is mutable. If you want to list that cannot be changed for example Constance, **pi** **e**, **Monday** then you should use a Tuple. You use round brackets to define a tuple. The same methods do not apply to Tuples as they cannot be changed. However we can loop through **Tuples** and access values et cetera.

In [ ]:
courses = ('History','Math', 'Physics', 'Irish')
courses.append('Art')

## Sets
Sets are unordered and have no duplicates. You use curly braces to define a set. Sets are often used to get rid of duplicate values and they are offten used to compare values.

In [ ]:
courses_set  = {'History','Math', 'Physics', 'Irish','Math'}
print(courses_set) #not in order can be any order

In [ ]:
# Sets can easily determine what values they share or do not share with another set.
courses_set1  = {'History','Math', 'Physics', 'Irish'}
courses_set2  = {'History','Geography', 'Physics', 'French'}

print(courses_set1.intersection(courses_set2))

In [ ]:
print(courses_set1.difference(courses_set2))

In [ ]:
print(courses_set1.union(courses_set2))

## Creating Empty Lists, tuples and sets

```python

empty_list = []
empty_list = list()

empty_tuple =()
empty_tuple = tuple()

empty_set ={} # no, it thinks it is a dictiionary
empty_set = set() # yes

```

## SAQ 2
Write a program that accepts an input from a user, an animal, and prints a list of all the inputs. run the program a few times so that you have a list of five animals.

In [ ]:
animals = []
animal = input("Add an Animal")
animals.append(animal) # appends to end
print(animals)

In [ ]:
animal = input("Add an Animal")
animals.append(animal) # appends to end
print(animals)

## Dictionaries
Dictionaries allow us to work with key value pairs and if you're coming
from another programming language then you may have heard these called hash
maps or associative arrays. With key value pairs these are two linked values where
the key is a unique identifier of where we can find our data and the value is the
data.We can think of them as like a real physical dictionary where we look up for definitions. For example  example each word that we look up would be the key and the definition of that word would be the value.

### Dictionary Examples

In [2]:
# Example
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
print(student)

{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English']}

In [3]:
# Index ids your key
print(student['name'])
print(student['subjects'])

John
['Irish', 'English']

In [6]:
# Keys can be any value
student = {1:'John', 'age': 24, 'subjects': ['Irish','English']}
print(student['age'])

24

In [7]:
# Search for non-existent key
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
print(student['name'])
print(student['phone'])

John

KeyError: 'phone'

### Get Method
The get method is another way to access a dictionary value.

In [10]:
# get method does not produce an error
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English'], 'phone': '0012345'}
print(student.get('name'))
print(student.get('phone'))
print(student.get('phone','Not to there')) # Your own message

John
0012345
0012345

### Add/update values to/in an dictionary

In [11]:
# add a value to dictionary
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
print(student)
student['phone'] ='01-456789'#add a value to dictionary
print(student)
# Update a value
student['phone'] ='01-9999999'#update a value in a dictionary
print(student)

{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English']}
{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English'], 'phone': '01-456789'}
{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English'], 'phone': '01-9999999'}

### Dictionary Update Method
Ideal if you want to change multiple things at once. You can add and update.

In [12]:
# Update and Change values
student.update({'name': 'Mary', 'phone': '333333333', 'grade': 44})
print(student)

{'name': 'Mary', 'age': 24, 'subjects': ['Irish', 'English'], 'phone': '333333333', 'grade': 44}

### Del and Pop methods
Del deletes a key/value; Pop remove sbut also return and that value

In [16]:
# Delete
student.update({'name': 'Mary', 'age': 24,'phone': '333333333', 'grade': 44})
del student['name']
print(student)
age = student.pop('age')
print(student)
print(age)
print(student)

{'subjects': ['Irish', 'English'], 'phone': '333333333', 'grade': 44, 'age': 24}
{'subjects': ['Irish', 'English'], 'phone': '333333333', 'grade': 44}
24
{'subjects': ['Irish', 'English'], 'phone': '333333333', 'grade': 44}

### Looping Through a Dictionary

In [18]:
student.update({'name': 'Mary', 'phone': '333333333', 'grade': 44})
print(student)
print(len(student)) # Number of elements in the dictionary

{'subjects': ['Irish', 'English'], 'phone': '333333333', 'grade': 44, 'name': 'Mary'}
4

In [19]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['subjects', 'phone', 'grade', 'name'])
dict_values([['Irish', 'English'], '333333333', 44, 'Mary'])
dict_items([('subjects', ['Irish', 'English']), ('phone', '333333333'), ('grade', 44), ('name', 'Mary')])

In [22]:
for key in student:
    print(key)
for value in student: # prints keys as well
    print(value)

subjects
phone
grade
name
subjects
phone
grade
name

In [23]:
# Iterate through key value pairs.
for key,value in student.items():
    print(key,value)

subjects ['Irish', 'English']
phone 333333333
grade 44
name Mary

## SAQ 3
Create a dictionary of animal names their ages and animal type. eg Rover, 4, dog. Allow a user through an Input Statement to add new animals.  Print out the result each time.