#### Lesson 4 ~ Notes: version 1.4

# Collections

![Collections](images/collections.png)<br>

In this section we will be looking at collections of elements(things). Elements are stored in arrays as either **lists**, **tuples**, **sets**, or **dictionaries**.<br>

**Lists and Tuples** allow us to work with sequential data, and **sets** are unordered collections of values with no duplicates. 

A **dictionary** is a list of elements organized in key value pairs.  Just like in a word dictionary, you look for a specific term. In programming, it is called a **key**. The definition is its **value**. This is called a **KEY <> VALUE** pair.

```python
myDict = {"Jenny": 34, "Livia": 28, "Paul": 31}
print(myDict["Jenny"]) # -> 34

```
In Python, a **tuple** is similar to **List** except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned. On the other hand, we can change the elements of a list. A **tuple** is defined using round brackets.

```python
    my_data = ("hi", "hello", "bye")
    print(my_data)
```

## Lists
A **list** is defined using square brackets and each element in a list is enclosed in quotes and separated with a comma (Except the last item)

```Python

borrowedBooks = ['The Road', 'The Grapes of Wrath', 'The Shark', 'War of the worlds']

```

In [6]:
courses = ['History','Math', 'Physics', 'Irish','French', 'Geography',"Python"]
print(courses)

['History', 'Math', 'Physics', 'Irish', 'French', 'Geography', 'Python']

In [2]:
print(len(courses))

6

In [4]:
print(courses[0])

History

In [7]:
print(courses[-1]) # dont need to know lenght

Python

### Slicing

In [9]:
print(courses[3:7]) # 5 not included (stop)

['Irish', 'French', 'Geography', 'Python']

In [12]:
# print(courses[:2]) # assumes start from 0

# print(courses[2:]) # assumes stop at last item

science_subjects = courses[2:]
print(science_subjects)

['Physics', 'Irish', 'French', 'Geography', 'Python']

## Methods

In [13]:
# Add item to our list
courses = ['History','Math', 'Physics', 'Irish','French', 'Geography']
print(courses)
courses.append('Art') # appends to end
print(courses)

['History', 'Math', 'Physics', 'Irish', 'French', 'Geography']
['History', 'Math', 'Physics', 'Irish', 'French', 'Geography', 'Art']

In [16]:
# Insert Method
courses.insert(3, 'Social Science')
print(courses)

['History', 'Math', 'Physics', 'Social Science', 'Irish', 'French', 'Social Science', 'Social Science', 'Geography', 'Art']

In [17]:
# Insert a List into a list
courses = ['History','Math', 'Physics', 'Irish']
courses_2 = ['Geography', 'Spanish']
courses.insert(2, courses_2) # A list within a list
print(courses)

['History', 'Math', ['Geography', 'Spanish'], 'Physics', 'Irish']

In [18]:
print(courses[2])

['Geography', 'Spanish']

### extend method

In [19]:
# used to add the items to the end
courses = ['History','Math', 'Physics', 'Irish']
print(courses)
courses_2 = ['Geography', 'Spanish']
courses.extend(courses_2)
print(courses)

['History', 'Math', 'Physics', 'Irish']
['History', 'Math', 'Physics', 'Irish', 'Geography', 'Spanish']

### remove method
Used to remove items from a list

In [21]:
# remove() function
courses = ['History','Math', 'Physics', 'Irish']
print(courses)
courses.remove('Math')
print(courses)

['History', 'Math', 'Physics', 'Irish']
['History', 'Physics', 'Irish']

In [30]:
#New List
courses = ['History','Math', 'Physics', 'Irish']
print(courses)

['History', 'Math', 'Physics', 'Irish']

In [31]:
#pop()
x = courses.pop() # removes the last value from a list and stores the values
print(x)
print(courses)
# rem = courses.pop()
# print(rem)
# print(courses)

Irish
['History', 'Math', 'Physics']

### Ordering Lists

In [32]:
# Reversing the order reverse()
courses = ['History','Math', 'Physics', 'Irish']
nums = [1,5,6,3,4]

print(courses)
courses.reverse()
print(courses)

['History', 'Math', 'Physics', 'Irish']
['Irish', 'Physics', 'Math', 'History']

In [ ]:
courses.sort()
print(courses)

In [33]:
courses.sort()
print(courses)
nums.sort()
print(nums)

['History', 'Irish', 'Math', 'Physics']
[1, 3, 4, 5, 6]

In [34]:
#reverse sort
nums = [1,2,5,3,4]
nums.sort(reverse = True)
print(nums)

[5, 4, 3, 2, 1]

### Sorting Lists
Sorting list without changing the origonal list. Use a sorted function.

In [ ]:
# sorted() Does not change list
nums = [1,2,5,3,4]
sorted_nums = sorted(nums)
print(nums)
print(sorted_nums)
print(nums)

## SAQ 1 min, max, sum
Test out the three functions min, max and sum

In [39]:
nums = [1,2,5,63,4]
# Answers here
print(sum(nums))

75

### index and 'in' method
Find value in list

In [40]:
courses = ['History','Math', 'Physics', 'Irish']
print(courses.index('Irish'))

3

In [41]:
print('Art' in courses)# Asking if Art is in the list of courses

False

In [42]:
print('History' in courses)

True

In [46]:
for xxx in courses: # loop item can be anything
    print(xx)

NameError: name 'xx' is not defined

In [ ]:
for subject in courses:
    print(subject)

In [47]:
for index, course in enumerate(courses): # loop item can be anything
    print(index, course)

0 History
1 Math
2 Physics
3 Irish

### Join/Split Methods
Print out a list as a string and visa versa

In [50]:
courses = ['History','Math', 'Physics', 'Irish']
course_str = '@_****'.join(courses)

In [51]:
print(course_str)

History@_****Math@_****Physics@_****Irish

In [55]:
#split method
course_str = 'Morgan-Mc-Knight'
courses = course_str.split('-')
# first_name = courses[0]
# last_name = courses[1]
print(courses)

# print(first_name)
# print(last_name)

['Morgan', 'Mc', 'Knight']

## Tuples
**Tuples** are similar to lists except they cannot be modified. These are referred to as immutable as opposed to a list which is mutable. If you want to list that cannot be changed for example Constants, **pi**, **e**, **Monday** then you should use a Tuple. You use round brackets to define a tuple. The same methods do not apply to Tuples as they cannot be changed. However we can loop through **Tuples** and access values et cetera.

In [56]:
courses = ('History','Math', 'Physics','Irish', 'Irish')

courses.append('Art')

AttributeError: 'tuple' object has no attribute 'append'

## Sets
Sets are unordered and have no duplicates. You use curly braces to define a set. Sets are often used to get rid of duplicate values and they are also used to compare values.

In [57]:
courses_set  = {'History','Math', 'Physics', 'Irish','Math'}
print(courses_set) #not in order can be any order

{'Math', 'History', 'Physics', 'Irish'}

In [58]:
# Sets can easily determine what values they share or do not share with another set.
courses_set1  = {'History','Math', 'Physics', 'Irish'}
courses_set2  = {'History','Geography', 'Physics', 'French'}

print(courses_set1.intersection(courses_set2))

{'History', 'Physics'}

In [60]:
print(courses_set2.difference(courses_set1))

{'Geography', 'French'}

In [61]:
print(courses_set1.union(courses_set2))

{'Irish', 'Math', 'History', 'French', 'Geography', 'Physics'}

## Creating Empty Lists, tuples and sets

```python

empty_list = []
empty_list = list()

empty_tuple =()
empty_tuple = tuple()

empty_set ={} # cannot be defined this way, it thinks it is a dictiionary
empty_set = set() # yes

```

## SAQ 2
Write a program that accepts an input from a user, an animal, and prints a list of all the inputs. Run the program a few times so that you have a list of five animals.

## Dictionaries
Dictionaries allow us to work with key value pairs and if you're coming
from another programming language then you may have heard these called hash
maps or associative arrays. With key value pairs these are two linked values where
the key is a unique identifier of where we can find our data and the value is the
data.We can think of them as like a real physical dictionary where we look up for definitions. For example  example each word that we look up would be the key and the definition of that word would be the value.

### Dictionary Examples

In [65]:
# Example
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
student1 = {'name':'Mary', 'age': 24, 'subjects': ['Irish','English','Math']}
print(student)

{'name': 'John', 'age': 24, 'subjects': ['Irish', 'English']}

In [66]:
# Index ids your key
print(student['name'])
print(student['subjects'])

John
['Irish', 'English']

In [67]:
print(student1['name'])
print(student1['subjects'])

Mary
['Irish', 'English', 'Math']

In [ ]:
# Keys can be any value
student = {1:'John', 'age': 24, 'subjects': ['Irish','English']}
print(student['age'])

In [ ]:
# Search for non-existent key
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
print(student['name'])
print(student['phone'])

### Get Method
The get method is another way to access a dictionary value.

In [ ]:
# get method does not produce an error
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English'], 'phone': '0012345'}
print(student.get('name'))
print(student.get('phone'))
print(student.get('phone','Not to there')) # Your own message

### Add/update values to/in an dictionary

In [ ]:
# add a value to dictionary
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
print(student)
student['phone'] ='01-456789'#add a value to dictionary
print(student)
# Update a value
student['phone'] ='01-9999999'#update a value in a dictionary
print(student)

### Dictionary Update Method
Ideal if you want to change multiple things at once. You can add and update.

In [ ]:
# Update and Change values
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}

student.update({'name': 'Mary', 'phone': '333333333', 'grade': 44})
print(student)

In [ ]:
dict ={'name':'John'}
print(dict)
new_name = input('What is your name')
dict.update({'name': new_name})
print(dict)

### Del and Pop methods
Del deletes a key/value; Pop remove but also returns and that value

In [ ]:
# Delete
student = {'name':'John', 'age': 24, 'subjects': ['Irish','English']}
age = student.pop('age')
print(student)
print(age)

### Looping Through a Dictionary

In [ ]:
student = ({'name': 'Mary', 'phone': '333333333', 'grade': 44})
# print(student)
print(len(student)) # Number of elements in the dictionary

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

In [ ]:
for v in student:
    print(v)

In [ ]:
# Iterate through key value pairs.
for key,value in student.items():
    print(key,value)

## SAQ 3
Create a dictionary of animal names their ages and animal type. eg Rover, 4, dog. Allow a user through an Input Statement to add new animals.  Print out the result each time.

In [ ]:
# Add your Answer here!