In [2]:
# import pandas
import pandas as pd
# import matplotlib
import matplotlib.pyplot as plt
# import seaborn
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('../data/InsuranceSales.csv')

In [4]:
df.shape

(12, 3)

In [5]:
df

   month  aaron  grainne
0    Jan      6        6
1    Feb     13       47
2    Mar     17       49
3    Apr     20       15
4    May     25       43
5    Jun     39       41
6    Jul     41        7
7    Aug     43       39
8    Sep     49       43
9    Oct     51       41
10   Nov     62       36
11   Dec     44       33

In [6]:
aaron = df['aaron']
aaron.describe()

count    12.000000
mean     34.166667
std      17.434727
min       6.000000
25%      19.250000
50%      40.000000
75%      45.250000
max      62.000000
Name: aaron, dtype: float64

In [7]:
# df.sum(0) 
df.sum(['aaron'])

TypeError: unhashable type: 'list'

In [ ]:
df.describe()

In [ ]:
# Creating plot 
df.boxplot(column=['aaron'], return_type='axes');

# show plot 
plt.show() 

df.boxplot(column=['grainne'], return_type='axes');  
plt.show()

In [ ]:
sns.set_style("whitegrid") 
sns.boxplot( y=df["grainne"] );
plt.show()

In [ ]:
df_tips = pd.read_csv('../data/tips.csv')

In [ ]:
df_tips.describe()

In [ ]:
df_tips

In [ ]:
df.boxplot(by ='day', column =['total_bill'], grid = False)

In [ ]:
df.boxplot(by ='size', column =['tip'], grid = False)

In [ ]:
tips = sns.load_dataset('tips') 
  
tips.head()

In [ ]:
sns.set_style("whitegrid") 
  
sns.boxplot(x = 'day', y = 'tip', data = tips)

In [ ]:
df_claims = pd.read_csv('../data/InsuranceClaims.csv')

In [ ]:
df_claims.shape

In [ ]:
df_claims.head()

In [ ]:
# df_claims.describe(["Fire and Theft"])
df_claims.columns = ['year', 'injury', 'damage', 'theft', 'damage',' windscreen']

df_claims.dtypes

In [ ]:
df_claims['injury'] = df_claims['injury'].astype(float)

In [ ]:
# import pandas
import pandas as pd
# import matplotlib
import matplotlib.pyplot as plt
# import seaborn
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv('../data/EuRoadDeaths1.csv')

In [ ]:
df.shape

In [ ]:
df

In [ ]:
x_values = df.columns[2:-1]

In [ ]:
sns.set_style("whitegrid") 
sns.boxplot( y=df["2019"] );
plt.show()

In [ ]:
filt = (df['Country']=='France')
y_values = df[filt]

In [ ]:
median_column = df["2019"]
median_column.plot(kind="hist")